---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import WhatsAppIcon from "../icons/WhatsApp.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Brifcase from "../icons/Brifcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Porfolio de Patricio G칩mez Meneses - Desarrollador y Programador Web"
  description="Ingeniero Electr칩nico y Desarrollador Web Full Stack. Desde Puerto Montt, Chile 游뻟릖, dise침o y desarrollo soluciones web innovadoras. Me enfoco en Frameworks de JavaScript para la creaci칩n de aplicaciones din치micas y escalables."
>
  <main class="px-4">
    <SectionContainer class="py-24 animate" id="intro-section">
      <img
        class="rounded-full w-24 h-24 mb-4"
        src="https://lh3.googleusercontent.com/a/ACg8ocIf0myyzMZRN1n-QDW78FORANENdNp9Ck9TdAKOWsECzw=s96-c"
        alt="profile photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Patricio<a
          href="https://www.linkedin.com/in/prgm/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
        <!-- <div
        class="flex gap-2 items-center"
        >          <Badge>Trabajando en </Badge>
          <p class="text-xl lg:text-2xl border rounded-lg border-blue   bg-blue-600 text-wrap  px-2 max-w-[700px]">Sotex</p>
          </p> -->
        </div>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Ingeniero Electr칩nico y Desarrollador Web Full Stack.</span>
        <span class="text-yellow-200/90">
          Desde <a href="https://maps.app.goo.gl/Tbsc23jTLYHAPhwt5" target="_blank" rel="noopener" title="Link to Map">Puerto Montt, Chile 游뻟릖</a>, dise침o y desarrollo soluciones web
          innovadoras.</span
        >
        <span class="opacity-75">
          Me enfoco en Frameworks de JavaScript para la creaci칩n de aplicaciones
          din치micas y escalables.</span
        >
      </h2>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/prgm/">
          <LinkedInIcon class="size-4 lg:size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/prgm-code">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:patricio@prgmdev.com">
          <MailIcon class="size-4 lg:size-6" />
          Patricio@prgmdev.com
        </SocialPill>
        <SocialPill
          href="https://wa.me/56978146577?text=Hola%20Patricio,%20quisiera%20contactarte"
        >
          <WhatsAppIcon class="size-4 lg:size-6" />
          WhatsApp
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia" class="animate">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Brifcase class="size-6" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos" class="animate">
      <h2 class="text-3xl font-semibold mb-6 pt-20 flex gap-x-3 items-center">
        <CodeIcon class="size-10" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
  <script>
    
    // JavaScript para agregar la clase 'show' despu칠s de que la p치gina se haya cargado
    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll(".animate");
      elements.forEach((el) => {
        el.classList.add("show");
      });
    });
  </script>
</Layout>
