---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import WhatsAppIcon from "../icons/WhatsApp.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Brifcase from "../icons/Brifcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio de Patricio G칩mez Meneses - Desarrollador y Programador Web"
  description="Ingeniero Electr칩nico y Desarrollador Web Full Stack. Desde Puerto Montt, Chile 游뻟릖, dise침o y desarrollo soluciones web innovadoras. Me enfoco en Frameworks de JavaScript para la creaci칩n de aplicaciones din치micas y escalables."
>
  <main class="px-4 gap-y-16">
    <SectionContainer class="py-16 animate" id="top">
      <img
        class="rounded-full w-28 h-28 mb-4"
        src="https://lh3.googleusercontent.com/a/ACg8ocIf0myyzMZRN1n-QDW78FORANENdNp9Ck9TdAKOWsECzw=s96-c"
        alt="Foto de perfil de Patricio"
      />

      <header>
        <h1
          class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
        >
          Hola, soy Patricio
        </h1>
        <p class="text-xl lg:text-2xl text-pretty max-w-[900px]">
          Ingeniero Electr칩nico y M치ster en Desarrollo Web Full Stack,
          <a
            href="https://maps.app.goo.gl/Tbsc23jTLYHAPhwt5"
            target="_blank"
            rel="noopener"
            title="Link to Map"
            class="text-blue-300/90"
          >
            desde Puerto Montt, Chile 游뻟릖
          </a>, con m치s de 15 a침os en telecomunicaciones y m치s de 2 a침os en
          desarrollo web, me enfoco en Frameworks de JavaScript para la creaci칩n
          de aplicaciones din치micas y escalables.
        </p>
      </header>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/prgm/">
          <LinkedInIcon class="size-4 lg:size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/prgm-code">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:patricio@prgmdev.com">
          <MailIcon class="size-4 lg:size-6" />
          Patricio@prgmdev.com
        </SocialPill>
        <SocialPill
          href="https://wa.me/56976990163?text=Hola%20Patricio,%20quisiera%20contactarte"
        >
          <WhatsAppIcon class="size-4 lg:size-6" />
          WhatsApp
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="animate">
      <div class="flex flex-row gap-x-3 items-center">
        <Brifcase class="size-6" />
        <h2 class="text-3xl font-semibold">Experiencia Laboral</h2>
      </div>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyects" class="animate">
      <div class="flex flex-row gap-x-3 items-center">
        <CodeIcon class="size-10" />
        <h2 class="text-3xl font-semibold">Proyectos</h2>
      </div>
      <Projects />
    </SectionContainer>
  </main>

  <script>
    // JavaScript para agregar la clase 'show' despu칠s de que la p치gina se haya cargado
    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll(".animate");
      elements.forEach((el) => {
        el.classList.add("show");
      });
    });
  </script>
</Layout>
