<header class="fixed top-0 left-0 right-0 py-5 z-50 px-4 sm:px-6 lg:px-8">
  <div class="w-full bg-transparent backdrop-blur-md rounded-md opacity-90 p-2">
    <nav class="flex flex-row gap-x-10 opacity-80 flex-wrap justify-center">
      <a href="#top">Inicio</a>
      <a href="#experiencia">Experiencia</a>
      <a href="#proyects">Proyectos</a>
      <a href="#education">Educación</a>
      <a href="#tecnologies">Tecnologías</a>
    </nav>
  </div>
</header>

<!-- Asegurar que el contenido no esté detrás del header -->
<div class="pt-[80px]">
  <!-- Aquí comienza el contenido principal de la página -->
</div>
